body {
    margin: 0;
    font-family: Arial;
    background: #111;
    color: gold;
    text-align: center;
}

nav {
    background: black;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: gold;
    margin: 10px;
    text-decoration: none;
}

header {
    padding: 100px 20px;
}

button {
    background: gold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

.card {
    background: #222;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 250px;
    border-radius: 10px;
}
